*{
    margin: 0px;
}
body{
    background: #FFFFFF;
}
/* Header Style */
header{
    background-image: url("/images/banner/banner3.png");
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: right;
}
header .title{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    padding-bottom: 25px;
}

.title-description{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #FFFFFF;
    padding-bottom: 30px;
}
.banner{
    padding: 216px 230px 165px 850px;
}

/* Botton Style */
.btn-main{
    color: #005FFF;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.my-failures{
    display: flex;
    gap: 100px;
    justify-content: center;
    /* padding: 130px 320px 130px 200px; */
}
.my-failures-blog{
    padding: 370px 320px 220px 0px;
}
.failure-title{
    width: 288px;
    height: 94px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
    padding-bottom: 30px;
}
.failure-description{
    width: 416px;
    height: 104px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
}
.failure{
    width: 570px;
    height: 720px;
    padding: 130px 0px 130px 210px;
}

.blog{
    padding: 0px 200px 20px 200px;
    text-align: center;
}
/* My Plans */
.my-plan{

}
.my-plan-title{
    width: 179px;
    height: 47px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
    text-align: center;
}
ul{
    list-style-image: url("/images/icons/check-mark.png");
  }

.plans{
    display: flex;
    gap: 25px;
  }

  .bottom-banner{
    background-image: url("/images/gradient1.png"), url("/images/watch.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 20px 100px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
  }
.footer{
    color: #ffffff;
    background-color: #000000;
    display: flex;
    gap: 200px;
    padding: 100px;
    justify-content: center;
}
  .icon{
    display: flex;
    gap: 20px;
    padding: 20px 0px;
  }

  .btn-subscribe{
    border-radius: 5px;
    color: #ffffff;
    background-color: blue;
  }